<div class="wrapper">
    <nav>
        <div class="container">
            <div class="logo">
                <img src="assets/bookmark-landing/logo-bookmark-white.svg" *ngIf="showDesktop" alt="">
                <img src="assets/bookmark-landing/logo-bookmark.svg" *ngIf="!showDesktop" alt="">
                <div class="menu" (click)="menuClicked()">
                    <div *ngIf="!showDesktop"></div>
                    <div *ngIf="!showDesktop"></div>
                    <div *ngIf="!showDesktop"></div>
                    <img *ngIf="showDesktop" src="assets/bookmark-landing/icon-close.svg" alt="">
                </div>
            </div>
            <div class="desktop" [ngStyle]="{'display': displayStyle}">
                <ul>
                    <hr>
                    <li>Features</li>
                    <hr>
                    <li>Pricing</li>
                    <hr>
                    <li>Contact</li>
                    <hr>
                </ul>
                <div>
                    <button class="orange">Login</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="intro">
        <div class="container">
            <div class="text">
                <h1>A Simple Bookmark Manager</h1>
                <p>A clean and simple interface to organize your favourite websites.
                    Open a new browser tab and see your
                    sites load instantly. Try it for free.</p>
                <button class="blue">Get it on Chrome</button>
                <button class="gray">Get it on Firefox</button>
            </div>
            <div class="illustration">
                <img src="assets/bookmark-landing/illustration-hero.svg" alt="">

            </div>
        </div>
    </div>
    <div class="features">
        <div class="container">
            <div class="text">
                <h2>
                    Features
                </h2>
                <p>
                    Our aim is to make it quick and easy for you to access your
                    favourite websites. Your bookmarks sync
                    between your devices so you can access them on the go.
                </p>
                <div>
                    <span (click)="selectFeature(1)" [ngClass]="{'active':selectedFeature==1}">Simple Bookmarking</span>
                    <span (click)="selectFeature(2)" [ngClass]="{'active':selectedFeature==2}">Speedy Searching</span>
                    <span (click)="selectFeature(3)" [ngClass]="{'active':selectedFeature==3}">Easy Sharing</span>
                </div>
            </div>
            <div class="feature">
                <div *ngIf="selectedFeature==1">
                    <img src="assets/bookmark-landing/illustration-features-tab-1.svg" alt="">
                    <div>
                        <h2>Bookmark in one click</h2>
                        <p>
                            Organize your bookmarks however you like. Our simple drag-and-drop interface gives you
                            complete control over how you manage your favourite sites.
                        </p>
                    </div>
                </div>
                <div *ngIf="selectedFeature==2">
                    <img src="assets/bookmark-landing/illustration-features-tab-2.svg" alt="">
                    <div>
                        <h2> Intelligent search</h2>
                        <p>
                            Our powerful search feature will help you find saved sites in no time at all. No need to
                            trawl through all of your bookmarks.
                        </p>
                    </div>
                </div>
                <div *ngIf="selectedFeature==3">
                    <img src="assets/bookmark-landing/illustration-features-tab-3.svg" alt="">
                    <div>
                        <h2>Share your bookmarks</h2>
                        <p>
                            Easily share your bookmarks and collections with others. Create a shareable link that you
                            can send at the click of a button.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="extensions">
        <div class="container">

            <div class="chrome">
                <img src="assets/bookmark-landing/logo-chrome.svg" alt="">
                <h3>
                    Add to Chrome
                </h3>
                <p>
                    Minimum version 62
                </p>
                <img src="assets/bookmark-landing/bg-dots.svg" alt="">
                <button class="blue">Add & Install Extension</button>
            </div>
            <div class="firefox">
                <img src="assets/bookmark-landing/logo-firefox.svg" alt="">
                <h3>
                    Add to Firework
                </h3>
                <p>
                    Minimum version 55
                </p>
                <img src="assets/bookmark-landing/bg-dots.svg" alt="">
                <button class="blue">Add & Install Extension</button>
            </div>
            <div class="opera">
                <img src="assets/bookmark-landing/logo-opera.svg" alt="">
                <h3>
                    Add to Opera
                </h3>
                <p>
                    Minimum version 46
                </p>
                <img src="assets/bookmark-landing/bg-dots.svg" alt="">
                <button class="blue">Add & Install Extension</button>
            </div>
        </div>
    </div>

    <div class="faq">
        <div class="container">
            <h2>
                Frequently Asked Questions
            </h2>
            <p>
                Here are some of our FAQs. If you have any other
                questions you’d like answered please feel free to email us.
            </p>
            <div>
                <h4 (click)="showAnswer(1)">What is Bookmark?
                    <img *ngIf="!selectAnswer[1]" src="assets/bookmark-landing/icon-arrow.svg" alt="">
                    <img *ngIf="selectAnswer[1]" src="assets/bookmark-landing/icon-arrow-close.svg"
                        style="transform: rotate(180deg);" alt="">
                </h4>
                <p *ngIf="selectAnswer[1]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies
                    fringilla.
                    Phasellus blandit ipsum quis quam ornare mattis.
                </p>
                <h4 (click)="showAnswer(2)">How can I request a new browser?
                    <img *ngIf="!selectAnswer[2]" src="assets/bookmark-landing/icon-arrow.svg" alt="">
                    <img *ngIf="selectAnswer[2]" src="assets/bookmark-landing/icon-arrow-close.svg"
                        style="transform: rotate(180deg);" alt="">
                </h4>
                <p *ngIf="selectAnswer[2]">
                    Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula.
                    Suspendisse
                    imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non
                    ligula.
                    Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies
                    non
                    ligula. Suspendisse imperdiet.
                </p>
                <h4 (click)="showAnswer(3)">Is there a mobile app?
                    <img *ngIf="!selectAnswer[3]" src="assets/bookmark-landing/icon-arrow.svg" alt="">
                    <img *ngIf="selectAnswer[3]" src="assets/bookmark-landing/icon-arrow-close.svg"
                        style="transform: rotate(180deg);" alt="">
                </h4>
                <p *ngIf="selectAnswer[3]">
                    Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum
                    urna
                    vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin ex
                    et
                    ultricies bibendum.
                </p>
                <h4 (click)="showAnswer(4)">What about other Chromium browsers?
                    <img *ngIf="!selectAnswer[4]" src="assets/bookmark-landing/icon-arrow.svg" alt="">
                    <img *ngIf="selectAnswer[4]" src="assets/bookmark-landing/icon-arrow-close.svg"
                        style="transform: rotate(180deg);" alt="">
                </h4>
                <p *ngIf="selectAnswer[4]">
                    Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam
                    vitae
                    neque
                    eget nisl gravida pellentesque non ut velit.
                </p>
            </div>
            <button class="blue">More Info</button>
        </div>
    </div>

    <div class="contact">
        <div class="container">
            <h4>35,000+ already joined</h4>
            <h1>Stay up-to-date with what we’re doing</h1>
            <div>
                <div>
                    <input (input)="checkEmail=false" email ngModel type="email" required #email="ngModel" [ngClass]="{'error': checkEmail && email.dirty && email.invalid,
                    'success':checkEmail && email.valid}">
                    <span *ngIf="checkEmail && email.invalid && email.dirty">
                        Whoops, make sure it's an email</span>
                    <span *ngIf="checkEmail && email.valid && email.dirty">
                        Thanks for contacting us</span>
                </div>
                <button class="orange" (click)="checkEmail=true">Contact Us</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="logo">
                <img src="assets/bookmark-landing/logo-bookmark-white.svg" alt="">
            </div>
            <div class="desktop">
                <ul>
                    <li>Features</li>
                    <li>Pricing</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="social">
                <img src="assets/bookmark-landing/icon-facebook.svg" alt="">
                <img src="assets/bookmark-landing/icon-twitter.svg" alt="">
            </div>
        </div>
    </div>
</div>