$color1: hsl(231, 69%, 60%);
$color2: #000000c7;

.wrapper {
  background-color: #f5f5f5;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  padding: 2rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.footer,
nav {
  margin-bottom: 2rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop {
    display: flex;
    text-transform: uppercase;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      margin: 0;

      li {
        cursor: pointer;
        margin-right: 1rem;

        &:hover {
        }
      }
    }

    hr {
      display: none;
    }
  }

  button {
    margin-right: 1rem;

    &.orange {
      text-transform: uppercase;
      margin-right: 0;
    }
  }
}

.intro {
  .container {
    display: flex;
    justify-content: space-between;

    .text {
      width: 33%;

      button {
        &.blue {
          margin-right: 2rem;
        }
      }
    }

    .illustration {
      position: relative;
      transform: translateX(17%);
      z-index: 0;

      img {
        width: 95%;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 75%;
        z-index: -1;
        background-color: $color1;
        left: 27%;
        top: 29%;
        border-bottom-left-radius: 30%;
      }
    }
  }
}

.features {
  margin-bottom: 10rem;
  position: relative;
  z-index: 0;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
    background-color: $color1;
    right: 61%;
    top: 57%;
    border-bottom-right-radius: 43%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;

    p {
      width: 40%;
    }

    span {
      margin: 1rem;
      line-height: 2rem;
      color: $color2;

      &:hover {
        color: black;
      }
    }
  }

  .feature {
    > div {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      min-height: 30rem;
      animation: scroll 2s forwards;

      > div {
        width: 40%;
      }

      @keyframes scroll {
        0% {
          opacity: 0;
          transform: translateX(-10%);
        }

        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}

.extensions {
  margin-bottom: 7rem;

  .container {
    display: flex;
    justify-content: space-evenly;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 1px 7px 6px 0px #8080809e;
      border-radius: 20px;
      padding-top: 5rem;
      padding-bottom: 1.5rem;

      img {
        margin-bottom: 1rem;
      }
    }
  }
}

.faq {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-height: 35rem;

    > p {
      text-align: center;
    }

    h4 {
      align-self: flex-start;
      border-top: 1px solid #80808066;
      line-height: 3rem;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 1.5rem;
      cursor: pointer;
    }

    > div {
      width: 100%;
      border-bottom: 1px solid #80808066;
      margin-bottom: 3rem;

      p {
        animation: dropdown 0.5s forwards;
      }

      @keyframes dropdown {
        0% {
          opacity: 0;
          transform: translateY(-20%);
        }

        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}

.contact {
  background: $color1;
  color: white;
  padding: 5rem;

  .container {
    text-align: center;
    width: 40%;

    h1,
    h4 {
      margin-bottom: 2rem;
    }

    h4 {
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    > div {
      display: flex;
      justify-content: space-evenly;

      input {
        border: none;
        border-radius: 5px;
        padding: 1rem;
        flex-grow: 0.3;
      }

      button {
        letter-spacing: 0;
      }
    }
  }
}

.footer {
  background-color: hsl(229, 31%, 21%);
  margin-bottom: 0;
  color: white;

  .desktop {
    flex-grow: 1;
    margin-right: auto;
  }

  .container {
    justify-content: initial;
  }

  .social {
    img {
      &:first-child {
        margin-right: 2rem;
      }
    }
  }
}

button {
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  font-weight: 600;
  color: white;
  cursor: pointer;

  &.orange {
    background-color: #f94b1d;
    letter-spacing: 2px;
  }

  &.gray {
    background-color: #8080801a;
    color: #000000c7;
    box-shadow: 0px 3px 3px 0px #80808054;
  }
  &.blue {
    background-color: $color1;
  }
}
