$color1: hsl(180, 66%, 49%);
$color2: hsl(257, 27%, 26%);
$color3: hsl(0, 87%, 67%);
$color4: hsl(0, 0%, 75%);
$color5: hsl(257, 7%, 63%);
$color6: hsl(255, 11%, 22%);
$color7: hsl(260, 8%, 14%);
$color8: #ffffff;

.wrapper {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

.container {
  padding: 0;
  padding-top: 1.2rem;
  max-width: 1200px;
  font-family: "Poppins", sans-serif;
  margin: auto;

  nav {
    display: flex;
    align-items: end;
    color: $color5;
    margin-bottom: 2rem;

    .desktop {
      display: flex;
      width: 100%;

      ul {
        list-style: none;
        display: flex;
        margin: 0;
        flex-grow: 1;

        li {
          margin-right: 1rem;

          &:last-child {
            margin-right: auto;
          }
        }
      }
    }

    button {
      margin-right: 1rem;
      color: $color5;

      &.primary {
        margin-right: 0;
        color: $color8;
      }
    }
  }

  .intro {
    display: flex;
    position: relative;
    margin-bottom: 5rem;

    .working {
      width: 60%;
    }
    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      color: $color5;
      margin-bottom: 2rem;
    }

    button {
      font-weight: 900;
      line-height: 2.4rem;
    }
  }

  .feature {
    position: absolute;
    box-sizing: border-box;
    top: 32rem;
    width: 100%;
    display: flex;
    background-color: $color2;
    padding: 2.7rem;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;

    input {
      padding: 1rem;
      width: 59rem;
      border-radius: 0.3rem;
      border-width: 0;
      margin-right: 1rem;
    }

    ::placeholder {
      font-family: "Poppins", sans-serif;
    }

    button {
      border-radius: 0.2rem;
    }
  }

  .offers {
    padding-top: 10rem;
    padding-bottom: 7rem;
    text-align: center;
    background-color: rgba($color4, 0.35);

    > p {
      margin-bottom: 5rem;
    }

    > div {
      display: flex;
      position: relative;
      text-align: initial;

      .line {
        background-color: $color1;
        position: absolute;
        width: 100%;
        margin: 0;
        top: 50%;
        height: 0.4rem;
        border: 0;
      }

      .image {
        &::before {
          position: absolute;
          top: -2rem;
          display: flex;
          background-color: $color2;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
        }

        &-brand {
          &::before {
            content: url(/assets/url-shortening/icon-brand-recognition.svg);
          }
        }
        &-records {
          transform: translateY(2rem);

          &::before {
            content: url(/assets/url-shortening/icon-detailed-records.svg);
          }
        }
        &-customizable {
          transform: translateY(4rem);

          &::before {
            content: url(/assets/url-shortening/icon-fully-customizable.svg);
          }
        }
      }
      > div {
        background-color: $color8;
        position: relative;
        word-spacing: 3.5px;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
        margin-right: 2rem;
        border-radius: 7px;

        h4 {
          margin-bottom: 0.5rem;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.boost {
  text-align: center;
  background-color: $color2;
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-size: cover;

  h1 {
    color: $color8;
    margin-top: 0;
  }

  button {
    letter-spacing: 1px;
    word-spacing: 2px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  background-color: $color7;

  .logo {
    flex-grow: 0.3;
  }

  .info {
    display: flex;
    > div {
      margin-right: 3rem;

      &:last-child {
        margin-right: 0;
      }
    }
    p {
      margin-top: 0;
      color: $color8;
    }
    ul {
      color: $color4;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .social {
    img {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

button {
  border: none;
  background: transparent;
  line-height: 2rem;
  font-weight: 600;

  &.primary {
    background-color: $color1;
    color: $color8;
    padding: 0 1rem;
    border-radius: 1rem;
  }
}

.menu {
  display: none;

  div {
    background-color: $color4;
    width: 28px;
    height: 4px;
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    overflow-x: hidden;

    nav {
      align-items: center;
      flex-direction: column;

      .logo {
        margin-right: auto;
      }
      .desktop {
        display: none;
        flex-direction: column;
        align-items: center;
        position: relative;

        ul {
          flex-direction: column;
          padding: 0;
          text-align: center;
          li {
            margin-right: 0;
          }
        }

        > div {
          display: flex;
          flex-direction: column;

          button {
            margin-right: 0;
          }
        }
      }

      .menu {
        display: initial;
        position: absolute;
        right: 0;
      }
    }

    .intro {
      flex-direction: column-reverse;
      text-align: center;

      .working {
        width: 124%;
      }

      .feature {
        flex-direction: column;
        top: 52rem;

        input {
          width: 16rem;
          margin-bottom: 0.7rem;
        }
      }
    }

    .offers {
      > div {
        flex-direction: column;

        .line {
          width: 0.4rem;
          margin: 0;
          top: 0;
          right: calc(50% - 0.4rem / 2);
          height: 100%;
        }

        > div {
          margin-right: 0;
          margin-bottom: 4rem;
          text-align: center;
          word-spacing: 7px;

          &:before {
            right: calc(50% - 5rem / 2);
          }
        }
      }
    }
  }

  footer {
    flex-direction: column;
    align-items: center;

    .logo {
      margin-bottom: 3rem;
    }
    .info {
      flex-direction: column;
      align-items: center;

      > div {
        margin-right: 0;
        text-align: center;

        ul {
          li {
            &:last-child {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}
