$color1: hsl(180, 66%, 49%);
$color2: hsl(257, 27%, 26%);
$color3: hsl(0, 87%, 67%);
$color4: hsl(0, 0%, 75%);
$color5: hsl(257, 7%, 63%);
$color6: hsl(255, 11%, 22%);
$color7: hsl(260, 8%, 14%);
$color8: #ffffff;
$color9: #9be2e2;

.wrapper {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  position: relative;
}

.container {
  padding: 0;
  position: relative;
  padding-top: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  font-family: "Poppins", sans-serif;
  margin: auto;

  nav {
    display: flex;
    color: $color5;
    margin-bottom: 2rem;

    .desktop {
      display: flex;
      width: 100%;

      ul {
        list-style: none;
        display: flex;
        margin: 0;
        flex-grow: 1;

        li {
          cursor: pointer;
          margin-right: 1rem;

          &:hover {
            color: $color7;
          }

          &:last-child {
            margin-right: auto;
          }
        }
      }

      hr {
        display: none;
      }
    }

    button {
      margin-right: 1rem;
      color: $color5;

      &.primary {
        margin-right: 0;
        color: $color8;
      }
    }
  }

  .intro {
    display: flex;
    position: relative;
    margin-bottom: 5rem;

    .working {
      width: 60%;
    }
    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    p {
      color: $color5;
      margin-bottom: 2rem;
    }

    button {
      padding: 0rem 2rem 0rem 2rem;
      border-radius: 1.2rem;
      font-weight: 900;
      line-height: 2.4rem;
    }
  }
}

.offers {
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba($color4, 0.35);

  .feature {
    max-width: 1200px;
    z-index: 1;
    position: absolute;
    box-sizing: border-box;
    top: -4rem;
    width: calc(100% - 2rem);
    background-color: $color2;
    padding: 2.7rem;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    > div {
      display: flex;
      margin-bottom: 1rem;
    }

    input {
      padding: 1rem;
      flex-grow: 1;
      border-radius: 0.3rem;
      border-width: 0;
      margin-right: 1rem;
    }

    ::placeholder {
      font-family: "Poppins", sans-serif;
    }

    button {
      border-radius: 0.2rem;
    }
  }

  .container {
    padding-top: 10rem;
    padding-bottom: 12rem;
    box-sizing: border-box;
    text-align: center;

    .links {
      .row {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        background-color: $color8;
        padding: 0.7rem 2rem 0.3rem 2rem;

        span {
          text-align: initial;

          &:first-child {
            flex-grow: 1;
          }

          &:nth-child(2) {
            margin-right: 2rem;
            color: $color1;
          }
        }

        button {
          border-radius: 2px;

          &.coppied {
            background-color: $color2;
          }
        }
      }
    }

    > p {
      margin-bottom: 5rem;
    }

    .images {
      display: flex;
      position: relative;
      text-align: initial;

      .line {
        background-color: $color1;
        position: absolute;
        width: 100%;
        margin: 0;
        top: 50%;
        height: 0.4rem;
        border: 0;
      }

      .image {
        > div {
          position: absolute;
          top: -2rem;
          display: flex;
          background-color: $color2;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
        }

        &-records {
          transform: translateY(2rem);
        }
        &-customizable {
          transform: translateY(4rem);
        }
      }

      > div {
        background-color: $color8;
        position: relative;
        word-spacing: 3.5px;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
        margin-right: 2rem;
        border-radius: 7px;

        h4 {
          margin-bottom: 0.5rem;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.boost {
  text-align: center;
  background-color: $color2;
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-size: cover;

  h1 {
    color: $color8;
    margin-top: 0;
  }

  button {
    letter-spacing: 1px;
    word-spacing: 2px;
  }
}

footer {
  padding-top: 3rem;
  background-color: $color7;

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 0;

    .logo {
      flex-grow: 0.3;
    }

    .info {
      display: flex;
      > div {
        margin-right: 3rem;

        &:last-child {
          margin-right: 0;
        }
      }
      p {
        margin-top: 0;
        color: $color8;
      }
      ul {
        color: $color4;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          cursor: pointer;
          margin-bottom: 1rem;

          &:hover {
            color: $color1;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .social {
    img {
      cursor: pointer;
      margin-right: 1rem;

      &:hover {
        filter: invert(0) sepia(1) saturate(20) hue-rotate(108deg) brightness(1.2);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.invalid {
  input {
    border: 2px solid $color3 !important;

    &::placeholder {
      color: $color3;
    }
  }

  color: $color3;
  font-style: italic;
}

button {
  border: none;
  background: transparent;
  line-height: 2rem;
  font-weight: 600;
  cursor: pointer;

  &.primary {
    background-color: $color1;
    color: $color8;
    padding: 0 1rem;
    border-radius: 1rem;

    &:hover {
      background-color: $color9;
    }

    &:focus {
      background-color: $color1;
    }
  }

  &:disabled {
    background-color: $color9;
  }
}

.menu {
  display: none;

  div {
    background-color: $color4;
    width: 28px;
    height: 4px;
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 980px) {
  .container {
    overflow-x: hidden;

    nav {
      align-items: center;
      flex-direction: column;
      position: relative;

      .logo {
        width: 100%;
        position: relative;

        .menu {
          display: initial;
          position: absolute;
          right: 0;
        }
      }
      .desktop {
        display: none;
        flex-direction: column;
        align-items: center;
        position: relative;
        background-color: $color2;
        width: 41%;
        border-radius: 16px;
        padding: 1rem;
        align-self: baseline;
        z-index: 2;
        position: absolute;
        width: -webkit-fill-available;
        top: 3rem;
        color: $color8;

        ul {
          flex-direction: column;
          padding: 0;
          padding-top: 1rem;
          text-align: center;
          li {
            margin-bottom: 0.5rem;
            margin-right: 0;
          }
        }

        hr {
          display: initial;
          width: 100%;
          background-color: rgba($color4, 0.35);
          border: none;
          height: 1px;
        }
        > div {
          display: flex;
          flex-direction: column;
          width: 100%;

          button {
            color: $color8;
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }
      }
    }

    .intro {
      flex-direction: column-reverse;
      text-align: center;

      .working {
        width: 100%;
        align-self: center;
      }
    }
  }

  .offers {
    .feature {
      > div {
        flex-direction: column;
      }

      input {
        margin-right: 0;
        margin-bottom: 0.7rem;
      }

      button {
        border-radius: 0.5rem;
        line-height: 3rem;
        font-size: 1.2rem;
      }
    }

    .container {
      padding-top: 11rem;

      .links {
        .row {
          flex-direction: column;
          padding: 0.9rem 2rem 0.9rem 2rem;

          span {
            overflow: hidden;
            line-height: 2.5rem;

            &:first-child {
              border-bottom: 1px solid $color4;
            }
          }
        }
      }

      .images {
        flex-direction: column;

        .line {
          width: 0.4rem;
          margin: 0;
          top: 0;
          right: calc(50% - 0.4rem / 2);
          height: 100%;
        }

        > div {
          margin-right: 0;
          margin-bottom: 4rem;
          text-align: center;
          word-spacing: 7px;

          > div {
            right: calc(50% - 5rem / 2);
          }
        }
      }
    }
  }

  .boost {
    button {
      padding: 0rem 2rem 0rem 2rem;
      border-radius: 1.2rem;
      line-height: 2.4rem;
    }
  }

  footer {
    .container {
      flex-direction: column;
      align-items: center;

      .logo {
        margin-bottom: 3rem;
      }
      .info {
        flex-direction: column;
        align-items: center;

        > div {
          margin-right: 0;
          text-align: center;

          ul {
            li {
              &:last-child {
                margin-bottom: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
