<div class="wrapper">
    <div class="container">
        <nav>
            <div class="logo">
                <img src="assets/url-shortening/logo.svg" alt="">
                <div class="menu" (click)="menuClicked()">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="desktop" [ngStyle]="{'display': displayStyle}">
                <ul>
                    <li>Features</li>
                    <li>Pricing</li>
                    <li>Resources</li>
                </ul>
                <hr>
                <div>
                    <button>Login</button>
                    <button class="primary">Sign Up</button>
                </div>
            </div>
        </nav>
        <div class="intro">
            <div>
                <h2>
                    More than just shorter links
                </h2>
                <p>
                    Build your brand’s recognition and get detailed insights on how your links are performing.
                </p>
                <button class="primary">Get Started</button>
            </div>
            <img src="assets/url-shortening/illustration-working.svg" class="working" alt="">
        </div>
    </div>
    <div class="offers">
        <div class="feature" [ngStyle]="{'background-image': 'url(\'assets/url-shortening/bg-shorten-desktop.svg\')'}">
            <div [ngClass]="{'invalid':linkInput.invalid && linkInput.touched}">
                <input type="text" placeholder="Shorten a link here..." required (input)="errorMessage=''" [(ngModel)]="link"
                    #linkInput="ngModel">
                <button class="primary" [disabled]="linkInput.invalid" (click)="shortenLink(link)">Shorten It!</button>
            </div>
            <span class="invalid" *ngIf="linkInput.invalid && linkInput.touched">
                Please add a link
            </span>
            <span class="invalid" *ngIf="errorMessage && !(linkInput.invalid && linkInput.touched)">
                {{errorMessage}}
            </span>
        </div>
        <div class="container">

            <div class="links" *ngFor="let shortenedLink of linkStorage">
                <div class="row">
                    <span>
                        {{shortenedLink.originalUrl | truncate}}
                    </span>
                    <span>
                        {{shortenedLink.shortendUrl}}
                    </span>
                    <button type="button" class="primary" [ngClass]="{'coppied': shortenedLink.shortendUrl === textCoppied }" (click)="copyText(shortenedLink.shortendUrl)">
                        {{shortenedLink.shortendUrl === textCoppied ? 'Coppied!' : 'Copy' }}
                    </button>
                </div>
            </div>

            <h1>Advanced Statistics</h1>
            <p>
                Track how your links are performing across the web with our advanced statistics dashboard.
            </p>
            <div class="images">
                <hr class="line">
                <div class="image image-brand">
                    <div>
                        <img src="assets/url-shortening/icon-detailed-records.svg" alt="">
                    </div>
                    <h4>Brand Recognition</h4>
                    <p>
                        Boost your brand recognition with each click. Generic links don’t mean a thing. Branded
                        links
                        help
                        instil confidence in your content.
                    </p>
                </div>
                <div class="image image-records">
                    <div>
                        <img src="assets/url-shortening/icon-detailed-records.svg" alt="">
                    </div>
                    <h4>
                        Detailed Records
                    </h4>
                    <p>
                        Gain insights into who is clicking your links. Knowing when and where people engage with
                        your
                        content
                        helps inform better decisions.
                    </p>
                </div>
                <div class="image image-customizable">
                    <div>
                        <img src="assets/url-shortening/icon-fully-customizable.svg" alt="">
                    </div>
                    <h4>Fully Customizable</h4>
                    <p>
                        Improve brand awareness and content discoverability through customizable links,
                        supercharging
                        audience
                        engagement.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="boost" [ngStyle]="{'background-image': 'url(\'assets/url-shortening/bg-boost-desktop.svg\')'}">
        <h1>Boost your links today</h1>
        <button class="primary">Get Started</button>
    </div>
    <footer>
        <div class="container">
            <div class="logo">
                <img src="assets/url-shortening/logowhite.svg" alt="">
            </div>
            <div class="info">
                <div>
                    <p>Features</p>
                    <ul>
                        <li>Link Shortening</li>
                        <li>Branded links</li>
                        <li>Analytics</li>
                    </ul>
                </div>
                <div>
                    <p>Resources</p>
                    <ul>
                        <li>Blog</li>
                        <li>Developers</li>
                        <li>Support</li>
                    </ul>
                </div>
                <div>
                    <p>Company</p>
                    <ul>
                        <li>About</li>
                        <li> Our Team</li>
                        <li>Careers</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
            <div class="social">
                <img src="assets/url-shortening/icon-facebook.svg" alt="">
                <img src="assets/url-shortening/icon-twitter.svg" alt="">
                <img src="assets/url-shortening/icon-pinterest.svg" alt="">
                <img src="assets/url-shortening/icon-instagram.svg" alt="">
            </div>
        </div>
    </footer>
</div>