<div class="wrapper">
    <div class="container">
        <nav>
            <div class="logo">
                <img src="assets/url-shortening/logo.svg" alt="">
            </div>
            <ul>
                <li>Features</li>
                <li>Pricing</li>
                <li>Resources</li>
            </ul>
            <button>Login</button>
            <button class="primary">Sign Up</button>
        </nav>
        <div class="intro">
            <div>
                <h2>
                    More than just shorter links
                </h2>
                <p>
                    Build your brand’s recognition and get detailed insights on how your links are performing.
                </p>
                <button class="primary">Get Started</button>
            </div>
            <img src="assets/url-shortening/illustration-working.svg" alt="">
        </div>
        <div class="feature">
            <input type="text" placeholder="Shorten a link here...">
            <button class="primary">Shorten It!</button>
        </div>
        <div>
            <h3>Advanced Statistics</h3>
            <p>
                Track how your links are performing across the web with our advanced statistics dashboard.
            </p>
            <div>
                <div>
                    <h4>Brand Recognition</h4>
                    <p>
                        Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links
                        help
                        instil confidence in your content.
                    </p>
                </div>
                <div>
                    <h4>
                        Detailed Records
                    </h4>
                    <p>
                        Gain insights into who is clicking your links. Knowing when and where people engage with your
                        content
                        helps inform better decisions.
                    </p>
                </div>
                <div>
                    <h4>Fully Customizable</h4>
                    <p>
                        Improve brand awareness and content discoverability through customizable links, supercharging
                        audience
                        engagement.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3>Boost your links today</h3>
        <button class="primary">Get Started</button>
    </div>
    <footer></footer>
</div>