$color1: #f5f5f5;
$color2: #ffffff;

.wrapper {
  background-color: $color1;
  min-height: 100vh;
}

.container {
  padding: 2rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  background-color: $color2;
  .container {
    display: flex;
    justify-content: space-between;

    h4 {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 510px) {
  h1 {
    font-size: 1.5rem;
  }
}
