<div class="wrapper" [ngStyle]="{'background-color': backgroundColor}">
    <div class="header" [ngStyle]="{'background-color': backgroundElementColor}">
        <div class="container" [ngStyle]="{'color': backgroundTextColor}">
            <h1>
                Where in the world?
            </h1>
            <h4 (click)="changeBackgroundColor()">
                <i class="fa fa-moon-o"></i>
                Dark Mode
            </h4>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>