$color1: hsl(214, 47%, 23%);
$color2: hsl(237, 49%, 15%);
$color3: hsl(230, 89%, 62%);
$color4: hsl(349, 71%, 52%);
$color5: hsl(39, 89%, 49%);

.versus {
  padding: 2rem;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;

  > h3 {
    margin: 0;
    font-size: 5rem;
    color: white;
    animation: countdowns 1s infinite;
    animation-timing-function: ease-out;
  }

  @keyframes countdowns {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }

    90% {
      transform: scale(1);
    }
    100% {
      opacity: 0;
    }
  }
}

.container {
  padding: 2rem 5rem;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: white;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-of-type {
      margin-right: 2rem;
    }
  }

  .icon {
    background-color: white;
    border-radius: 50%;
    padding: 2rem 2.5rem;
    transform: scale(1.1);
    max-height: 258px;
    z-index: 0;

    &.rock {
      padding-top: 2.5rem;
      border: 1.5rem solid $color4;
      box-shadow: 0 6px #94132b, inset 0 6px #c3c3c3;
    }

    &.scissors {
      border: 1.5rem solid $color5;
      box-shadow: 0 6px #a26e0c, inset 0 6px #c3c3c3;
    }

    &.paper {
      border: 1.5rem solid $color3;
      box-shadow: 0 6px #2741bf, inset 0 6px #c3c3c3;
    }

    &.blank {
      padding: 5.5rem;
      background-color: #0c1e48;
    }

    &.winner {
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        border: 2rem solid #8080801c;
        z-index: -1;
        border-radius: 50%;
        box-sizing: border-box;
        animation: winner 1.5s infinite;
        animation-timing-function: ease-out;
      }

      &:before {
        animation-delay: 1s;
      }

      &:after {
        transform: scale(1.5);
      }

      @keyframes winner {
        0% {
          transform: scale(0.5);
          opacity: 0.5;
        }
        60% {
          transform: scale(1);
          opacity: 1;
        }

        100% {
          transform: scale(1.5);
          opacity: 0;
        }
      }
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 5rem;
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: white;
  transform: translateY(-12rem);

  h3 {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  button {
    border: 0;
    padding: 1rem;
    border-radius: 9px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      color: #de3131;
    }
  }
}

@media only screen and(max-width: 940px) {
  .versus {
    padding-left: 0;
    padding-right: 0;

    > h3 {
      margin-bottom: 0;
    }
  }

  .container {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    transform: scale(0.7);

    .icon {
      transform: scale(1.3);
    }

    > div {
      h3 {
        width: max-content;
      }
    }
  }
}

@media only screen and(max-width: 600px) {
   
  .container {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    transform: scale(0.7);

    .icon {
      transform: scale(1);
    }

    > div {
      h3 {
        width: max-content;
        margin-bottom: 2rem;
      }
    }
  }

  .result {
    transform: translateY(-2rem);
  }
}
