$color1: #f1f1f1;


.wrapper {
  font-family: "Rubik", sans-serif;
}

@media (max-width: 445px) {
  nav {
    font-size: 0.75rem;
  }
}

section {
  background-color: $color1;
  min-height: 100vh;
  height: 100%;
}

