<div class="wrapper">
    <div class="scoreboard">
        <div class="container">
            <div>
                <img src="assets/rpsgame/logo.svg" alt="">
                <div>
                    <h5>Score</h5>
                    <p>
                        {{ score }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="game" *ngIf="!usersChoice">
        <div class="container">
            <div class="triangle">
                <img src="assets/rpsgame/bg-triangle.svg" alt="">
                <div (click)="usersChoice='paper'" class="icon paper">
                    <img src="assets/rpsgame/icon-paper.svg" alt="">
                </div>
                <div (click)="usersChoice='rock'" class="icon rock">
                    <img src="assets/rpsgame/icon-rock.svg" alt="">
                </div>
                <div (click)="usersChoice='scissors'" class="icon scissors">
                    <img src="assets/rpsgame/icon-scissors.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="versus" *ngIf="usersChoice">
        <app-versus [userPicked]="usersChoice" (restart)="updateScore($event)"></app-versus>
    </div>

    <div class="rules" *ngIf=showRules>
        <app-rules (closed)="showRules=!showRules"></app-rules>
    </div>

    <footer>
        <div class="container">
            <button type="button" (click)="showRules=!showRules">Rules</button>
        </div>
    </footer>
</div>