// - Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
// - Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
// - Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
// - Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
// - Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

$color1: hsl(214, 47%, 23%);
$color2: hsl(237, 49%, 15%);
$color3: hsl(230, 89%, 62%);
$color4: hsl(349, 71%, 52%);
$color5: hsl(39, 89%, 49%);

.wrapper {
  background: radial-gradient($color1, $color2);
  height: 100vh;
  position: relative;
}

.container {
  padding: 2rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.scoreboard {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    transform: scale(0.9);

    > div {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem;
      border: 1px solid gray;
      width: 45%;

      > div {
        background-color: white;
        padding: 1rem 3rem;
        border-radius: 5px;
        padding-bottom: 0;
        text-align: center;

        h5 {
          margin: 0;
          font-size: 1rem;
          text-transform: uppercase;
          color: #1a1a9c;
        }

        p {
          margin: 0;
          font-size: 4rem;
          color: gray;
        }
      }
    }
  }
}

.game {
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 0rem;
  transform: scale(0.9);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .triangle {
      position: relative;
    }

    .icon {
      position: absolute;
      background-color: white;
      border-radius: 50%;
      padding: 2rem 2.5rem;
      cursor: pointer;
      z-index: 0;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: #fbb300;
        background-repeat: no-repeat;
        background-size: 50% 60%, 70% 50%, 50% 100%;
        background-position: 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(#fbb300, #fbb300),
          linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
        animation: rotate 2s linear infinite;
        animation-play-state: paused;
      }

      &:hover::before {
        animation-play-state: running;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: white;
        border-radius: 50%;
      }

      @keyframes rotate {
        100% {
          transform: rotate(1turn);
        }
      }

      &.rock {
        bottom: -2rem;
        padding-top: 2.5rem;
        left: 4rem;
        border: 1.5rem solid $color4;
        box-shadow: 0 6px #94132b, inset 0 6px #c3c3c3;
      }

      &.scissors {
        right: -3rem;
        top: -4rem;
        border: 1.5rem solid $color5;
        box-shadow: 0 6px #a26e0c, inset 0 6px #c3c3c3;
      }

      &.paper {
        left: -3rem;
        top: -4rem;
        border: 1.5rem solid $color3;
        box-shadow: 0 6px #2741bf, inset 0 6px #c3c3c3;
      }
    }
  }
}

.versus {
  height: fit-content;
}

button {
  position: absolute;
  right: 2vw;
  bottom: 1vh;
  border: 1px solid white;
  background-color: transparent;
  padding: 1rem 2rem;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #4e80ff99;
  }
}

@media only screen and(max-width:800px) {
  .scoreboard {
    .container {
      > div {
        width: 80%;
      }
    }
  }

  footer {
    button {
      right: calc(50% - 3.5rem);
    }
  }

  .game {
    .container {
      .icon {
        &:before {
          animation-play-state: running;
        }

        &:hover:before {
          animation-play-state: paused;
        }
      }
    }
  }
}

@media only screen and(max-width:500px) {
  .scoreboard {
    .container {
      > div {
        width: 100%;

        img,
        div {
          transform: scale(0.7);
        }
      }
    }
  }

  .game {
    transform: scale(0.7);
  }
}

@media only screen and(max-width:400px) {
  .scoreboard {
    .container {
      > div {
        width: 100%;
        justify-content: center;
      }
    }
  }

  .versus {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
}
