.wrapper {
  .speaker {
    margin-bottom: 44px;

    &-info {
      border: 1px solid #dfe2e5;
      border-radius: 5px;
      margin-top: 88px;
      padding-bottom: 22px;
      text-align: center;

      img {
        border-radius: 50%;
        height: 130px;
        margin: -66px 0 22px 0;
        vertical-align: top;
      }
    }

    ul{
      word-break: break-all;
      padding:0 5px;
    }
  }
}

@media only screen and(max-width:700px) {
  .wrapper {
    .col {
      &-1-3 {
        padding: 0 !important;
      }
    }
  }
}

@media only screen and(max-width:510px) {
  .wrapper {
    .speaker {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }

    .col {
      &-1-3 {
        width: 80% !important;
      }
    }
  }
}
