$color1: #5368df;
$color2: #000000c7;
$color3: #f94b1d;
$color4: hsl(229, 31%, 21%);

.wrapper {
  background-color: #f5f5f5;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
}

.container {
  padding: 2rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

nav {
  margin-bottom: 2rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop {
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      margin: 0;

      li {
        cursor: pointer;
        margin-right: 1rem;
        letter-spacing: 1px;

        &:hover {
          color: $color3;
        }
      }
    }

    hr {
      display: none;
    }
  }

  button {
    margin-right: 1rem;

    &.orange {
      text-transform: uppercase;
      margin-right: 0;
    }
  }
}

.intro {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      width: 30%;
      height: min-content;
    }
  }
}

.features {
  .container {
    display: flex;
  }
}

.feedback {
  text-align: center;

  .feedbacks {
    display: flex;

    > div {
      padding: 1rem;
      background-color: gray;
      margin-right: 2rem;
      min-width: 30rem;
    }
  }
}

.contact {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer {
  background-color: $color4;
  color: white;

  .container {
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .social {
        display: flex;
        justify-content: space-between;
      }
    }

    .navigation {
      flex-grow: 1;
      display: flex;
      justify-content: space-around;

      ul {
        margin: 0;
        list-style: none;
        display: inline-block;

        li {
          margin-bottom: 1rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .subscribe {
      display: flex;
      height: min-content;

      input {
        border: 2px solid transparent;
        border-radius: 2rem;
        padding: 0.8rem;
        margin-right: 0.5rem;
      }

      button {
        border-radius: 2rem;
        border: 2px solid transparent;
        padding: 0rem 1.5rem;
      }
    }
  }
}
