$color1: #f94b1d;
$color2: #f7f7f7;
$color3: #ffffff;
$color4: #181c2d;
$color5: #b9b8b8;
$color6: #f59880;

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
  background-position: calc(100% - -4rem) calc(0% - 13rem), calc(0% - 33rem) calc(50% - -18rem);
  background-repeat: no-repeat, no-repeat;
}

.container {
  padding: 2rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

nav {
  margin-bottom: 2rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop {
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      margin: 0;

      li {
        cursor: pointer;
        margin-right: 1rem;
        letter-spacing: 1px;

        &:hover {
          color: $color5;
        }
      }
    }

    hr {
      display: none;
    }
  }
}

.intro {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      width: 30%;
      height: min-content;
    }
  }
}

.features {
  .container {
    display: flex;
    justify-content: space-between;

    .text {
      width: 33%;
    }

    .feature {
      width: 40%;

      > div {
        display: flex;
        align-items: flex-start;
      }

      h4 {
        margin-top: 0.6rem;
      }
      span {
        font-size: 1rem;
        border-radius: 2rem;
        border: 2px solid transparent;
        background-color: $color1;
        padding: 0.5rem 1.5rem;
        color: $color3;
        font-weight: normal;
        margin-right: 1rem;
      }
    }
  }
}

.feedback {
  text-align: center;
  margin-bottom: 5rem;

  h2 {
    margin-bottom: 5rem;
  }

  .feedbacks {
    display: flex;
    position: relative;
    height: 15rem;

    .column {
      position: absolute;
      display: flex;
      // transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;

      .review {
        position: relative;
        padding: 1rem;
        background-color: $color2;
        margin-right: 30px;
        min-width: 30rem;
        padding-top: 2rem;
        padding-bottom: 3rem;

        img {
          position: absolute;
          width: 4rem;
          height: 4rem;
          top: calc(0% - 2rem);
          left: calc(50% - 2rem);
        }
      }
    }
  }
}

.contact {
  background-color: $color1;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color3;

    h1 {
      width: 30%;
    }

    button {
      background: $color3;
      color: $color1;
      box-shadow: none;

      &:hover {
        color: $color6;
      }
    }
  }
}

.footer {
  background-color: $color4;
  color: $color3;

  .container {
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .social {
        display: flex;
        justify-content: space-between;

        img {
          &:hover {
            cursor: pointer;
            filter: invert(0.4) sepia(1) saturate(55) hue-rotate(351deg) brightness(0.87);
          }
        }
      }
    }

    .navigation {
      flex-grow: 1;
      display: flex;
      justify-content: space-around;

      ul {
        margin: 0;
        list-style: none;
        display: inline-block;

        li {
          margin-bottom: 1rem;

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            cursor: pointer;
            color: $color1;
          }
        }
      }
    }

    .subscribe {
      display: flex;
      height: min-content;

      input {
        border: 2px solid transparent;
        border-radius: 2rem;
        padding: 0.8rem;
        margin-right: 0.5rem;
      }

      button {
        border-radius: 2rem;
        padding: 0rem 1.5rem;
        box-shadow: none;
      }
    }
  }
}

button {
  cursor: pointer;
  border: 2px solid transparent;
  background-color: $color1;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
  border-radius: 20px;
  color: $color3;
  box-shadow: 0px 2px 6px 1px $color6;

  &:hover {
    background-color: $color6;
  }
}
