@import "sign.component.scss";

button {
  width: 100%;
  border: 1px solid transparent;
  cursor: pointer;
  background: $color2;
  color: white;
  padding: 1rem;
  border-radius: 12px;

  &:disabled {
    background: $color3;
  }
}

.user {
  display: flex;
  flex-direction: column;
  width: 100px;

  img {
    width: 100%;
    margin-bottom: 1rem;
  }
}
