<div class="wrapper" [ngStyle]="{'background-image': 'url(\'assets/sign/bg-intro-desktop.png\')'}">
    <app-header *ngIf="fetchedInput['gender']" [isAuthenticated]=" isAuthenticated" [gender]="fetchedInput['gender']">
    </app-header>
    <div class="container" [ngClass]="{'authenticated': isAuthenticated}">
        <div>
            <h1>
                Learn to code by watching others
            </h1>
            <p>
                See how experienced developers solve problems in real-time. Watching scripted tutorials is great, but
                understanding how developers think is invaluable.
            </p>
        </div>
        <div class="form-wrapper">
            <div *ngIf="!isLoginMode" class="steps">
                <div (click)="isAuthenticated && step=0; loginMode.next(false);"
                    [ngClass]="{'active':step==0,'authenticated': isAuthenticated}">
                    {{isAuthenticated ? 'General information' : 'Step 1'}}</div>
                <div (click)="isAuthenticated && step=1"
                    [ngClass]="{'active':step==1,'authenticated': isAuthenticated}">
                    {{isAuthenticated ? 'Account infromation' : 'Step 2'}}</div>
                <div (click)="isAuthenticated && step=2"
                    [ngClass]="{'active':step==2,'authenticated': isAuthenticated}">
                    {{isAuthenticated ? 'About' : 'Step 3'}}</div>
            </div>
            <div *ngIf="isLoginMode" class="steps">
                <div class="active">Welcome</div>
            </div>
            <div *ngIf="isLoginMode" class="form login">
                <div *ngIf="errorMessage" class="error">
                    <p>{{errorMessage}}</p>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div>
                        <input type="email" class="form-control" name="emailInput" id="email" ngModel #email="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div>
                        <input type="password" class="form-control" name="passwordInput" id="password" ngModel
                            #password="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="button" style="margin-bottom: 0.5rem;"
                        (click)="login(email.value,password.value)">Log In</button>
                    <button class="btn btn-primary" (click)="loginMode.next(!isLoginMode); step=0;" type="button">Switch
                        to
                        {{ isLoginMode? 'Sign Up' : 'Login' }} </button>
                </div>
            </div>
            <div *ngIf="isLoading" class="loader"></div>
            <form *ngIf="!isLoginMode && userInput" #registrationForm="ngForm" (input)="onChanges()" class="form">
                <div class="step-1" *ngIf="step==0">
                    <div class="form-group"
                        [ngClass]="{'invalid': name.errors?.required && (name?.touched || name?.dirty), 'valid': name.valid && name.touched}">
                        <label for="name">First Name</label>
                        <div>
                            <input type="text" class="form-control" name="firstName" id="name" ngModel required
                                [(ngModel)]="userInput.firstName" #name="ngModel">
                            <div class="validation" *ngIf="name.errors?.required && (name?.touched || name?.dirty)">
                                First name is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group"
                        [ngClass]="{'invalid': surname.errors?.required && (surname?.touched || surname?.dirty), 'valid': surname.valid && surname.touched }">
                        <label for="surname">Last Name</label>
                        <div>
                            <input type="text" class="form-control" name="lastName" id="surname" ngModel required
                                [(ngModel)]="userInput.lastName" #surname="ngModel">
                            <div class="validation"
                                *ngIf="surname.errors?.required && (surname?.touched || surname?.dirty)">
                                Last name is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group"
                        [ngClass]="{'invalid': gender.errors?.required && (gender?.touched || gender?.dirty), 'valid': gender.valid && gender.touched }">
                        <label for="gender">Gender</label>
                        <div>
                            <div class="gender" id="gender">
                                <input #genderInput #gender="ngModel" autocomplete="off" type="radio"
                                    class="form-control gender" id="male" value="male" name="gender"
                                    [(ngModel)]="userInput.gender" ngModel required (change)="onChanges()">
                                <label for="male">Male</label>
                                <input #genderInput #gender="ngModel" autocomplete="off" type="radio"
                                    class="form-control gender" id="female" value="female" name="gender"
                                    [(ngModel)]="userInput.gender" ngModel required (change)="onChanges()">
                                <label for="female">Female</label>
                            </div>
                            <div class="validation"
                                *ngIf="gender.errors?.required && (gender?.touched || gender?.dirty)">
                                Gender is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birthday" [ngClass]="{'invalid': (month.errors?.isInList || month.errors?.required)  && month.touched && showMonth == 'none'|| 
                        (day.errors?.isInList || day.errors?.required) && day.touched && showDay == 'none'|| 
                        (year.errors?.isInList || year.errors?.required) && year.touched && showYear == 'none', 
                            'valid': birthdayGroup.valid && birthdayGroup?.touched }">Birthday</label>
                        <div ngModelGroup="birthdayGroup" class="birthday" id="birthday" #birthdayGroup="ngModelGroup">
                            <div
                                [ngClass]="{'invalid': (month.errors?.isInList || month.errors?.required) && (month?.touched || month?.dirty) && showMonth == 'none', 'valid': month.valid && month.touched && showMonth == 'none' }">
                                <label for="month">Month</label>
                                <div class="filter" (keyup.tab)="showMonth='block'"
                                    (keydown.tab)="onKey($event); showMonth='none'" (keyup.arrowdown)="onKey($event);"
                                    (keyup.arrowup)="onKey($event)" (keydown.enter)="onKey($event); showMonth='none'"
                                    (keydown.backspace)="onKey($event)" (focusout)="arrowkeyLocation=0">
                                    <div class="month">
                                        <input IsInListValidator validateList="month"
                                            [IsInListMonthValidator]="date.months" #monthInput #month="ngModel"
                                            autocomplete="off" type="text" class="form-control month" id="month"
                                            name="month" [(ngModel)]="userInput.birthdayMonth"
                                            (click)="showMonth == 'none'? showMonth='block' : showMonth='none'"
                                            (input)="showMonth='block'; onKey($event)" ngModel required>
                                        <i class="fa fa-angle-down" *ngIf="showMonth == 'none'"
                                            (click)="dayInput.focus()"></i>
                                        <i class="fa fa-angle-up" *ngIf="showMonth == 'block'"
                                            (click)="dayInput.focus()"></i>
                                    </div>
                                    <ul #monthList
                                        [ngStyle]="{'display': showMonth}">
                                        <li *ngFor="let month of date.months | filter : userInput.birthdayMonth let i =index"
                                            (click)="userInput.birthdayMonth=month; showMonth == 'none'? showMonth='block' : showMonth='none' "
                                            [ngClass]="{'active': i==arrowkeyLocation}">
                                            {{month}}
                                        </li>
                                    </ul>
                                    <div class="validation"
                                        *ngIf="month.errors?.required && (month?.touched || month?.dirty) && showMonth == 'none'">
                                        Month is required
                                    </div>
                                    <div class="validation"
                                        *ngIf="!month.errors?.required && month.errors?.isInList && (month?.touched || month?.dirty) && showMonth == 'none'">
                                        Invalid month
                                    </div>
                                </div>
                            </div>
                            <div
                                [ngClass]="{'invalid': (day.errors?.isInList || day.errors?.required) && (day?.touched || day?.dirty) && showDay == 'none', 'valid': day.valid && day.touched && showDay == 'none' }">
                                <label for="day">Day</label>
                                <div class="filter" (keyup.tab)="showDay='block'"
                                    (keydown.tab)="onKey($event); showDay='none'" (keyup.arrowdown)="onKey($event);"
                                    (keyup.arrowup)="onKey($event)" (keydown.enter)="onKey($event); showDay='none'"
                                    (keydown.backspace)="onKey($event)"
                                    (focusout)="arrowkeyLocation=0">
                                    <div class="day">
                                        <input IsInListValidator validateList="day" [IsInListDayValidator]="date.days"
                                            #dayInput #day="ngModel" autocomplete="off" type="text"
                                            class="form-control day" id="day" name="day"
                                            [(ngModel)]="userInput.birthdayDay"
                                            (click)="showDay == 'none'? showDay='block' : showDay='none'"
                                            (input)="showDay='block'; onKey($event)" ngModel required>
                                        <i class="fa fa-angle-down" *ngIf="showDay == 'none'"
                                            (click)="dayInput.focus()"></i>
                                        <i class="fa fa-angle-up" *ngIf="showDay == 'block'"
                                            (click)="dayInput.focus()"></i>
                                    </div>
                                    <ul #dayList
                                        [ngStyle]="{'display': showDay}">
                                        <li *ngFor="let day of date.days | filter : userInput.birthdayDay?.toString() let i =index"
                                            (click)="userInput.birthdayDay=day; showDay == 'none'? showDay='block' : showDay='none' "
                                            [ngClass]="{'active': i==arrowkeyLocation}">
                                            {{day}}
                                        </li>
                                    </ul>
                                    <div class="validation"
                                        *ngIf="day.errors?.required && (day?.touched || day?.dirty) && showDay == 'none'">
                                        Day is required
                                    </div>
                                    <div class="validation"
                                        *ngIf="!day.errors?.required && day.errors?.isInList && (day?.touched || day?.dirty) && showDay == 'none'">
                                        Invalid day
                                    </div>
                                </div>
                            </div>
                            <div
                                [ngClass]="{'invalid': (year.errors?.isInList || year.errors?.required) && (year?.touched || year?.dirty) && showYear == 'none', 'valid': year.valid && year.touched && showYear == 'none' }">
                                <label for="year">Year</label>
                                <div class="filter" (keyup.tab)="showYear='block'"
                                    (keydown.tab)="onKey($event); showYear='none'" (keyup.arrowdown)="onKey($event);"
                                    (keyup.arrowup)="onKey($event)" (keydown.enter)="onKey($event); showYear='none'"
                                    (keydown.backspace)="onKey($event)" (focusout)="arrowkeyLocation=0">
                                    <div class="year">
                                        <input IsInListValidator validateList="year"
                                            [IsInListYearValidator]="date.years" #yearInput #year="ngModel"
                                            autocomplete="off" type="text" class="form-control year" id="year"
                                            name="year" [(ngModel)]="userInput.birthdayYear"
                                            (click)="showYear == 'none'? showYear='block' : showYear='none'" ngModel
                                            (input)="showYear='block'; onKey($event)" required>
                                        <i class="fa fa-angle-down" *ngIf="showYear == 'none'"
                                            (click)="dayInput.focus()"></i>
                                        <i class="fa fa-angle-up" *ngIf="showYear == 'block'"
                                            (click)="dayInput.focus()"></i>
                                    </div>
                                    <ul #yearList
                                        [ngStyle]="{'display': showYear}">
                                        <li *ngFor="let year of date.years | filter : userInput.birthdayYear?.toString() let i =index"
                                            (click)="userInput.birthdayYear=year; showYear == 'none'? showYear='block' : showYear='none';"
                                            [ngClass]="{'active': i==arrowkeyLocation}">
                                            {{year}}
                                        </li>
                                    </ul>
                                    <div class="validation"
                                        *ngIf="year.errors?.required && (year?.touched || year?.dirty) && showYear == 'none'">
                                        Year is required
                                    </div>
                                    <div class="validation"
                                        *ngIf="!year.errors?.required && year.errors?.isInList && (year?.touched || year?.dirty) && showYear == 'none'">
                                        Invalid year
                                    </div>
                                </div>
                            </div>
                            <div class="validation"
                                *ngIf="birthdayGroup.errors?.required && (birthdayGroup?.touched || birthdayGroup?.dirty)">
                                Birthday is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'invalid': (country.errors?.required || country.errors?.isInList) 
                        && (country?.touched || country?.dirty) && showCountry == 'none', 
                        'valid': country.valid && country.touched && showCountry == 'none' }">
                        <label for="country">Country</label>
                        <div class="filter" (keyup.tab)="showCountry='block'"
                            (keydown.tab)="onKey($event); showCountry='none'" (keyup.arrowdown)="onKey($event);"
                            (keyup.arrowup)="onKey($event)" (keydown.enter)="onKey($event); showCountry='none'"
                            (keydown.backspace)="onKey($event)" (focusout)="arrowkeyLocation=0;">
                            <div class="country">
                                <input IsInListValidator validateList="country" [IsInListCountryValidator]="countries"
                                    #countryInput #country="ngModel" autocomplete="off" type="text"
                                    class="form-control country" id="country" name="country"
                                    [(ngModel)]="userInput.country"
                                    (click)="showCountry == 'none'? showCountry='block' : showCountry='none'" ngModel
                                    (input)="showCountry='block'; onKey($event);" required>
                                <i class="fa fa-angle-down" *ngIf="showCountry == 'none'"
                                    (click)="dayInput.focus()"></i>
                                <i class="fa fa-angle-up" *ngIf="showCountry == 'block'" (click)="dayInput.focus()"></i>
                            </div>
                            <ul #countryList class="country"
                                [ngStyle]="{'display': showCountry}">
                                <li *ngFor="let country of countries | filter : userInput.country let i =index"
                                    (click)="userInput.country=country; showCountry == 'none'? showCountry='block' : showCountry='none';"
                                    [ngClass]="{'active': i==arrowkeyLocation}">
                                    {{country}}
                                </li>
                            </ul>
                            <div class="validation"
                                *ngIf="country.errors?.required && (country?.touched || country?.dirty) && showCountry == 'none'">
                                Country is required
                            </div>
                            <div class="validation"
                                *ngIf="country.errors?.isInList && (country?.touched || country?.dirty) && showCountry == 'none'">
                                Invalid Country
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-2" *ngIf="step==1">
                    <div class="form-group"
                        [ngClass]="{'invalid': displayName.errors?.required && (displayName?.touched || displayName?.dirty), 'valid': displayName.valid && displayName.touched}">
                        <label for="displayName">Username</label>
                        <div>
                            <input type="text" class="form-control" name="displayName" id="displayName" ngModel required
                                [(ngModel)]="userInput.displayName" #displayName="ngModel">
                            <div class="validation"
                                *ngIf="displayName.errors?.required && (displayName?.touched || displayName?.dirty)">
                                Username is required
                            </div>
                        </div>
                    </div>
                    <div ngModelGroup="emailGroup" appConfrimEqualValidator #emailGroup="ngModelGroup">
                        <div class=" form-group" [ngClass]="{'invalid': email.errors?.required && (email?.touched || email?.dirty) || email && email?.invalid && email?.touched || emailErrorMessage, 
                            'valid': email.valid && email?.touched && !emailErrorMessage}">
                            <label for="email">Email</label>
                            <div>
                                <input [disabled]="isAuthenticated && !editMode" type="email"
                                    (input)="emailErrorMessage=null" class="form-control" name="emailInput" id="email"
                                    ngModel required [(ngModel)]="userInput.email" email #email="ngModel">
                                <div class="validation"
                                    *ngIf="email && email?.invalid && email?.touched && !email.errors?.required">
                                    Whoops, make sure it's an email</div>
                                <div class="validation"
                                    *ngIf="email.errors?.required && (email?.touched || email?.dirty)">
                                    Email is required
                                </div>
                                <div class="validation" *ngIf="emailErrorMessage">
                                    {{emailErrorMessage}}
                                </div>
                                <div *ngIf="isAuthenticated" class="verification">
                                    <div [ngClass]="{'error':!emailVerified, 'success':emailVerified}">
                                        Email is {{emailVerified? '': 'not'}} Verified
                                    </div>
                                    <button [disabled]="email.invalid" (click)="editMode=!editMode;
                                    changeEmail()">
                                        {{editMode? 'Save' : 'Edit'}} email
                                    </button>
                                    <button (click)="verifyEmail(); clicked=true" [disabled]="clicked"
                                        *ngIf="!emailVerified">
                                        Send email verification
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!isAuthenticated" class="form-group"
                            [ngClass]="{'invalid': emailConfirm.errors?.required && (emailConfirm?.touched || emailConfirm?.dirty) ||
                            emailGroup.errors?.EqualValidation && (!emailConfirm.errors?.required && emailConfirm?.touched), 
                            'valid': !emailGroup.errors?.EqualValidation && emailConfirm.valid && emailConfirm?.touched }">
                            <label for="email">Confirm Email</label>
                            <div>
                                <input type="text" class="form-control" autocomplete="off" name="confirmEmailInput"
                                    ngModel required #emailConfirm="ngModel">
                                <div class="validation"
                                    *ngIf="emailConfirm.errors?.required && (emailConfirm?.touched || emailConfirm?.dirty)">
                                    Email confirmation is required
                                </div>
                                <div class="validation"
                                    *ngIf="emailGroup.errors?.EqualValidation && (!emailConfirm.errors?.required && emailConfirm?.touched)">
                                    Entered Emails don't match
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngModelGroup="passwordGroup" appConfrimEqualValidator #passwordGroup="ngModelGroup">
                        <div class="form-group"
                            [ngClass]="{'invalid': password.errors?.required && (password?.touched || password?.dirty) 
                            || password && password?.invalid && password?.touched, 'valid': password.valid && password?.touched }">
                            <label for="password">Password</label>
                            <div>
                                <input [disabled]="isAuthenticated" type="password" class="form-control"
                                    name="passwordInput" id="password" ngModel [(ngModel)]="userInput.password" required
                                    minlength="8" autocomplete="new-password"
                                    pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-_]).{8,}$"
                                    #password="ngModel">
                                <div class="validation" *ngIf="password.errors?.minlength && (password?.touched)">
                                    Password must be at least 8 characters long.
                                </div>
                                <div class="validation"
                                    *ngIf="password.errors?.pattern && (password?.touched)  && !password.errors?.minlength">
                                    Password must have at least one upper and lower case
                                    characters and at least one digit.
                                </div>
                                <div class="validation"
                                    *ngIf="password.errors?.required && (password?.touched || password?.dirty)">
                                    Password is required
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!isAuthenticated" class="form-group"
                            [ngClass]="{'invalid': passwordConfirm.errors?.required && (passwordConfirm?.touched || passwordConfirm?.dirty) ||
                            passwordGroup.errors?.EqualValidation && (!passwordConfirm.errors?.required && passwordConfirm?.touched), 
                            'valid': !passwordGroup.errors?.EqualValidation && passwordConfirm.valid && passwordConfirm?.touched }">
                            <label for="password">Confirm Password</label>
                            <div>
                                <input type="password" class="form-control" autocomplete="new-password"
                                    name="confirmPasswordInput" ngModel required #passwordConfirm="ngModel">
                                <div class="validation"
                                    *ngIf="passwordConfirm.errors?.required && (passwordConfirm?.touched || passwordConfirm?.dirty)">
                                    Password confirmation is required
                                </div>
                                <div class="validation"
                                    *ngIf="passwordGroup.errors?.EqualValidation && (!passwordConfirm.errors?.required && passwordConfirm?.touched)">
                                    Entered Passwords don't match
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-3" *ngIf="step==2">
                    <div class="form-group">
                        <p>Hello {{userInput.firstName}}, on the last step we would like to read short describing of
                            yourself.</p>
                    </div>
                    <div class="form-group">
                        <label for="aboutMe">
                            About me
                            <p>(Optional)</p>
                        </label>
                        <div>
                            <textarea name="aboutMe" id="aboutMe" cols="30" rows="10"
                                [(ngModel)]="userInput.aboutMe"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group buttons" [ngClass]="{'authenticated':isAuthenticated}">
                    <button *ngIf="step==0 && !isAuthenticated" (click)="loginMode.next(!isLoginMode); step=0"
                        type="button">Switch to
                        {{ isLoginMode? 'Sign Up' : 'Login' }} </button>
                    <button *ngIf="step>0 && !isAuthenticated" (click)="previousStep()" type="button">Back</button>
                    <button *ngIf="!isAuthenticated" [disabled]="registrationForm.invalid"
                        (click)="nextStep(registrationForm)">{{step == 2 ?  'Finalize' : 'Next'}} </button>
                    <button *ngIf="isAuthenticated"
                        [disabled]="updateForm || emailErrorMessage || errorMessage || editMode || registrationForm.invalid"
                        (click)="updateUser()">Update</button>
                    <button *ngIf="isAuthenticated" [disabled]="updateForm" (click)="resetFields()">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>