.search {
  margin-bottom: 3rem;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;

    input {
      border-radius: 5px;
      flex-grow: 0.2;
      border: 0;
      padding-left: 4rem;
    }

    > i {
      position: absolute;
      top: 1rem;
      left: 2rem;
    }

    .filter {
      position: relative;

      div,
      ul {
        background-color: #ffffff;
        padding: 1rem;
        border-radius: 5px;
      }

      div {
        cursor: pointer;
        display: flex;
      }

      p {
        display: inline-block;
        margin: 0;
        margin-right: 2rem;
      }

      ul {
        position: absolute;
        width: -webkit-fill-available;
        list-style: none;
        display: block;
        animation: dropdown 0.8s forwards;

        li {
          margin-bottom: 0.5rem;
          cursor: pointer;
          &:hover {
            background-color: #c39e9e24;
          }
        }
      }

      @keyframes dropdown {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }
    }
  }
}

.countries {
  .container {
    // display: grid;
    // grid-template-columns: auto auto auto;
    // justify-content: space-between;
    // row-gap: 3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .country {
      background-color: white;
      border-radius: 10px;
      margin-bottom: 2rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      max-width: min-content;

      .flag {
        height: 45%;
        display: flex;

        img {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 20rem;
          object-fit: cover;
        }
      }

      .info {
        span {
          font-weight: bold;
        }

        padding: 1rem 1rem 4rem 2rem;
      }
    }
  }
}

@media only screen and (max-width: 710px) {
  .countries {
    .container {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 510px) {
  .search {
    .container {
      flex-direction: column;
      align-items: center;

      input {
        width: -webkit-fill-available;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
      }

      .filter {
        align-self: flex-start;
      }
    }
  }
}
