<div class="search">
    <div class="container">
        <input type="text" [(ngModel)]="searchCountry" 
        placeholder="Search for a country..."
        [ngStyle]="{'background-color': backgroundElementColor}">
        <i class="fa fa-search"></i>
        <div class="filter">
            <div #regionEl (click)="showRegions == 'none'? showRegions='block' : showRegions='none'"
            [ngStyle]="{'background-color': backgroundElementColor}">
                <p>
                    {{regionSelected}}
                </p>
                <i class="fa fa-angle-down"></i>
            </div>
            <ul [ngStyle]="{'display': showRegions, 'background-color':backgroundElementColor}">
                <li *ngFor="let region of regions" (click)="regionChanged(region)">{{region}}</li>
                <li *ngIf="regionSelected !== 'Filter by Region'" (click)="regionChanged('Filter by Region')">Reset Filter
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="countries">
    <div class="container">
        <div [routerLink]="['/countries',country.name.toLowerCase()]" class="country"
            *ngFor="let country of filteredCountries"
            [ngStyle]="{'background-color': backgroundElementColor}">
            <div class="flag">
                <img [src]="country.flag" alt="">
            </div>
            <div class="info">
                <h3>{{country.name}}</h3>
                <p><span>Population: </span>{{country.population | number : '1.0'}}</p>
                <p><span>Region: </span>{{country.region}}</p>
                <p><span>Capital: </span>{{country.capital}}</p>
            </div>
        </div>
    </div>
</div>