<div class="wrapper"  [ngStyle]="{'background-image': 'url(\'assets/clipboard/bg-header-desktop.png\')'}">
    <div class="container">
        <div class="download-content">
            <img src="assets/clipboard/logo.svg"  alt="Clipboard logo">
            <h1>A history of everything you copy</h1>
            <p>Clipboard allows you to track and organize everything you copy. Instanlty access your clipboard on all
                your
                devices</p>
            <div>
                <button type="button" class="ios">Download for iOS</button>
                <button type="button" class="mac">Download for Mac</button>
            </div>
        </div>

        <div class="desktop">
            <div>
                <h2>Keep track of your snippets</h2>
                <p>
                    Clipboard instantly stores any item you copy in the cloud,
                    meaning you can access your snippets immediately on all your
                    devices. Our Mac and iOS apps will help you organize everything.
                </p>
            </div>
            <div class="features">
                <img src="assets/clipboard/image-computer.png" alt="Compute image">
                <div class="desktop-image"></div>
                <div>
                    <h3>
                        Quick Search
                        <p>
                            Easily search your snippets by content, category, web address, application, and more.
                        </p>
                    </h3>
                    <h3>
                        iCloud Sync
                        <p>
                            Instantly saves and syncs snippets across all your devices.
                        </p>
                    </h3>
                    <h3>
                        Complete History
                        <p>
                            Retrieve any snippets from the first moment you started using the app.
                        </p>
                    </h3>
                </div>
            </div>
        </div>

        <div class="devices">
            <h2>Access Clipboard anywhere</h2>
            <p>
                Whether you’re on the go, or at your computer, you can access all your Clipboard
                snippets in a few simple clicks.
            </p>
            <img src="assets/clipboard/image-devices.png" alt="Devices image">
        </div>

        <div class="features">
            <div>
                <h2>
                    Supercharge your workflow
                </h2>
                <p>
                    We’ve got the tools to boost your productivity.
                </p>
            </div>
            <div class="feature">
                <div>
                    <img src="assets/clipboard/icon-blacklist.svg" alt="Blacklist icon">
                    <h3>
                        Create blacklists
                    </h3>
                    <p>
                        Ensure sensitive information never makes its way to your clipboard by excluding certain sources.
                    </p>
                </div>
                <div>
                    <img src="assets/clipboard/icon-text.svg" alt="Text icon">
                    <h3>Plain text snippets</h3>
                    <p>
                        Remove unwanted formatting from copied text for a consistent look.
                    </p>
                </div>
                <div>
                    <img src="assets/clipboard/icon-preview.svg" alt="Preview icon">
                    <h3>Sneak preview</h3>
                    <p>
                        Quick preview of all snippets on your Clipboard for easy access.
                    </p>
                </div>
            </div>
        </div>

        <div class="vendors">
            <img src="assets/clipboard/logo-google.png" alt="Google logo">
            <img src="assets/clipboard/logo-ibm.png" alt="IBM logo">
            <img src="assets/clipboard/logo-microsoft.png" alt="Microsoft logo">
            <img src="assets/clipboard/logo-hp.png" alt="Hp logo">
            <img src="assets/clipboard/logo-vector-graphics.png" alt="VG logo">
        </div>

        <div class="download-content">
            <h2>Clipboard for iOS and Mac OS</h2>
            <p>
                Available for free on the App Store. Download for Mac or iOS, sync with iCloud
                and you’re ready to start adding to your clipboard.
            </p>
            <div>
                <button type="button" class="ios">Download for iOS</button>
                <button type="button" class="mac">Download for Mac</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <img src="assets/clipboard/logo.svg" alt="Clipboard logo" class="clipboard">
            <div class="nav">
                <div>
                    <a href="">FAQs</a>
                    <a href="">Contact Us</a>
                </div>
                <div>
                    <a href="">Privacy Policy</a>
                    <a href="">Press Kit</a>
                </div>
                <div>
                    <a href="">Install Guide</a>
                </div>
            </div>
            <div class="social">
                <a href=""><img src="assets/clipboard/icon-facebook.svg" alt="facebook logo"></a>
                <a href=""><img src="assets/clipboard/icon-twitter.svg" alt="twitter logo"></a>
                <a href=""><img src="assets/clipboard/icon-instagram.svg" alt="instagram logo"></a>
            </div>
        </div>
    </footer>
</div>