span {
  font-weight: normal;
}

.country {
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-grow: 1;
  max-width: 1400px;
  height: 50%;
  margin: 0 auto;
  padding: 2rem;

  img {
    flex-grow: 0.2;
    margin-right: auto;
    height: 100%;
    width: 30vw;
  }

  > div {
    flex-grow: 0.3;
    align-self: center;
  }
}

.info {
  display: flex;
  justify-content: space-between;
}
