$color1: #ed6491;

header {
  text-align: center;
}
.components {
  max-width: 1200px;
  margin: 0 auto;

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    div {
      width: fit-content;
      text-align: center;
      cursor: pointer;

      img {
        display: block;
        width: 35rem;
        height: 22rem;
        margin-bottom: 0.5rem;
      }

      a {
        text-decoration: none;
      }

      &:hover {
        img {
          transition: 200ms;
          border-color: $color1;
          border-width: 3px;
          border-style: groove;
          border-radius: 0.3rem;
          box-sizing: border-box;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1200px) {
  .components {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      margin-bottom: 3rem;
      flex-direction: column;
    }
  }
}

@media (max-width: 560px) {
  .components {
    .row {
      div {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
