.components {
  display: flex;
  justify-content: space-between;

  div {
    width: fit-content;
    text-align: center;
    cursor: pointer;

    img {
      display: block;
      width: 35rem;
      height: 22rem;
      margin-bottom: 0.5rem;
    }

    a {
      text-decoration: none;
    }
  }
}
